<div class="container">
  <div class="header">
    <h4>Welcome to your interface</h4>
      <%= link_to "Blogs List", blogs_path, class: "btn btn-secondary btn-sm" %>
      <%= link_to 'New Blog', new_blog_path, class: "btn btn-secondary btn-sm"%>
  </div>
  <div class="row"  id="top">
    <div class="col-8">
      <% @blog.each do |blog|%>
      <div class="insta-post">
        <div class="post-meta">
          <%= blog.user.name%>
        </div>
      </div>  
        <%= image_tag blog.image.url, class: "img img-fluid" %>
        <div class="comment-post">
          <%= blog.content %></td>
        </div>
        <%= link_to "See the Post", blog_path(blog.id), class: "btn btn-secondary" %>  
        <% if current_user && current_user == blog.user%>
          <%= link_to "Edit", edit_blog_path(blog.id), class: "btn btn-secondary"%>
          <%= link_to "Delete", blog_path(blog.id), method: :delete, class: "btn btn-secondary"%> 
        <%else%>
           <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
                </span>
                You may not modify or delete the content of others. 
            </div>
        <% end %>
      <%end %> 
    </div>
    
    <div class="col-4">
      <div class="account-summary">
        <p>Session of: <strong><%= current_user.name%></strong>
          <%=image_tag current_user.image.url, class: "blog-pic" %>  
        </p>
      </div> 
      <div class="follower-suggestions">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Recents Post</th> 
          </tr>
        </thead>
        <tbody>
          <% @blog.each do |blog|%>
            <tr> 
              <td>
              <p  style="text-align: justify"><strong><%= blog.user.name%> are posted</strong></p>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>